﻿@{
	ViewData["Title"]="Upload";
	ViewData["cssPath"]="upload";
}

<script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script src="//widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
<script src="~/js/v5.2.0-dist/ol.js"></script>
<link rel="stylesheet" href="~/js/v5.2.0-dist/ol.css" type="text/css">


<div class=uploadcontent>

	<div id="postMap" class="map"></div>
	
	<div class="upload-data">
		<div id="thumbnailHolder"></div>

		<form id="uploadForm" method="post">
			<div class="entry"><span class="lbl">Title:</span> <input id="txb1" type="text" name="title"></div>
			<div class="entry"><span class="lbl">Tags:</span> <input id="txb3" type="text" name="tags" placeholder=', or space seperated'></div> 
			<div class="entry"><span class="lbl">Position:</span>
				<input type="number" name="lng" id="lng" step=".0001" placeholder="Longitude" class="coord-inp">
				<input type="number" name="lat" id="lat" step=".0001" placeholder="Latitude" class="coord-inp"></div>
			<div class="entry2"><span id="des">Description:</span> <textarea id="destext" maxlength="250" rows="5" id="txb2" type="text" name="desc"></textarea></div>
			<input id="uploadimg" class="form-button" type="button" onclick="openImgUpload()" value="Upload Image">
			<input id="btnsubmit" class="form-button" type="submit" value="Submit">
		</form>

		<div id="logState">
			@if((bool)ViewData["loggedIn"]){
				<p>Logged in as: @ViewBag.CurrentUser.Username</p>
			}
			else{
				<p>Warning: You are not logged in. This post will be uploaded anonymously.</p>
				<a id="upl-login" href="@ViewData["URL"]/Login">Log in</a>
			}
		</div>
	</div>
</div>

<!--Warns if post will be uploaded anonymously. Need to make pretty.-->
<!--
<div id="logState">
	@if((bool)ViewData["loggedIn"]){
		<p>Logged in as: @ViewBag.CurrentUser.Username</p>
	}
	else{
		<p>Warning: You are not logged in. This post will be uploaded anonymously. <a id="upl-login" href="@ViewData["URL"]/Login">Log in</a></p>
	}
</div>
-->

<div id="marker" class="map-marker" title="Marker"></div>

<div id="loading">
	
</div>

<script>
	var imageResult="";
	var uploadedImage=false;
	var request;

	//Submit stuff
	$("#uploadForm").submit(function(e){
		e.preventDefault();

		if(!uploadedImage){
			console.log("Need image");
			$("#loading").html("Need image");
			return;
		}

		var serForm=$(this).serialize();

		if(request){
			request.abort();
		}

		request=$.ajax({
			url: "@ViewData["URL"]/Upload",
			contentType: "application/x-www-form-urlencoded",
			dataType: "json",
			type: "post",
			data: serForm
		});

		$("#loading").html("Working...");

		request.done(function(resp, status, jqXHR){
			console.log("Ajax success: "+resp+status);
			$("#loading").html("Done");

			var respJSON=request.responseJSON;

			if(respJSON.Success==true){
				$("#loading").html("Success");
				window.location.href = "/PostDetail/"+respJSON.PostID;
			}
			else{
				$("#loading").html("Failed");
			}
		});

		request.fail(function(jqXHR, status, error){
			console.log("Submit ajax fail");
		});
	});

	//Latitude 
	    $('#lat').on('input', function () {
        this.value = this.value.match(/^[0-9]{0,3}.?[0-9]{0,4}$/);
    });

	//Longitude 

		$('#lng').on('input', function () {
        this.value = this.value.match(/^[0-9]{0,3}.?[0-9]{0,4}$/);
    });

	// tags. allow letters and whitespaces only.
	$(document).ready(function(){
		/*
    	$("#txb3").keypress(function(event){
        var inputValue = event.which;
        if(!(inputValue >= 65 && inputValue <= 122) && (inputValue != 44 && inputValue != 32 && inputValue != 0)) { 
            event.preventDefault(); 
        }
    	});
		*/
	});

	//Map stuff
	var coordPrecision=4;

	var mousePos=new ol.control.MousePosition({
		coordinateFormat: ol.coordinate.createStringXY(coordPrecision),
		target: document.getElementById("coords"),
		projection: 'EPSG:3857',
		undefinedHTML: '&nbsp;',
		className: 'custom-mouse-position'
	});
	
	var pos=ol.proj.fromLonLat([174,-36]);
	
	var marker=new ol.Overlay({
		position: pos,
		positioning: 'center-center',
		element: document.getElementById("marker"),
		stopEvent: false
	});
	
	var mapOptions={
		target: "postMap",
		layers: [
			new ol.layer.Tile({
				source: new ol.source.OSM()
			})
		],
		view: new ol.View({
			center: pos,
			zoom: 4
		}),
		controls: ol.control.defaults().extend([mousePos])
	};
	
	var map=new ol.Map(mapOptions);
		
	map.addOverlay(marker);

	map.on('click', function(evt){
		console.log("Coord: "+evt.coordinate[0]+" "+evt.coordinate[1]);
		//var normXY=ol.proj.transform(evt.coordinate,'EPSG:3857','EPSG:4326');
		var normXY=ol.proj.toLonLat(evt.coordinate);
		console.log("Click: "+normXY[0]+" "+normXY[1]);
		$("#lng").val(normXY[0].toFixed(4));
		$("#lat").val(normXY[1].toFixed(4));
		marker.setPosition(evt.coordinate);
	});
	
	//Image stuff
	var imgDelToken="";
	var imgMeta;
	var imgOpts={
		"uploadPreset":"devtesting",
		"cloudName":"scavengr",
		"sources":["local","camera"],
		"multiple":false,
		"resourceType":"image",
		"form":"#uploadForm",
		"thumbnails":"#thumbnailHolder",
		"thumbnailTransformation": {
			width: 400,
			height: 300,
			crop: 'limit'
		},
		"max_image_height":"500",
		"max_image_width":"500",
		"showInsecurePreview": true
	};

	var imgWidget=cloudinary.createUploadWidget(imgOpts, imgCallback);

	function openImgUpload(){
		console.log("CW open");
		imgWidget.open();
	}

	function imgCallback(error, result){
		console.log("Cloudinary called back: "+error+" "+result.toSource());

		if(result.event === "success"){
			console.log("Upload success");
			uploadedImage=true;
			imgDelToken=result.delete_token;
			retrieveImgCoords(result.info.image_metadata);
			imgWidget.close();
		}
		else{
			console.log("Upload error: "+result.event);
		}

		imageResult=result;
	}

	function retrieveImgCoords(imgMeta){
		var imgLat=degreesToCoord(imgMeta.GPSLatitude)*-1; //Flip because south reference
		var imgLng=degreesToCoord(imgMeta.GPSLongitude);

		if(imgLat != 0 && imgLng != 0){
			$("#lat").val(imgLat.toFixed(4));
			$("#lng").val(imgLng.toFixed(4));

			marker.setPosition(ol.proj.fromLonLat([imgLng, imgLat]));
		}
	}

	//"36 deg 52' 52.00\" S"
	function degreesToCoord(degStr){
		var degExp=/^[0-9]*/g;
		var minExp=/[0-9]*(?=')/g;
		var secExp=/[0-9.]*(?=.00\")/g;

		var deg=degExp.exec(degStr);
		var min=minExp.exec(degStr);
		var sec=secExp.exec(degStr);

		console.log("Deg: "+deg+" min: "+min+" sec: "+sec);
		var coord=Number(deg)+Number(min/60)+Number(sec/3600);

		console.log("Degrees: "+coord);
		return coord;
	}
</script>


