﻿@{
    ViewData["Title"] = "About";
	ViewData["cssPath"]="home";
}

<h2 class="page-title">@ViewData["Title"]</h2>

<div class="abt-cont-content">
<p>
	Getting raw materials is one of the most difficult parts of being a hobby maker/DIYist. Large, unwieldy, and difficult to find many novices are stumped for materials as simple as wood offcuts. One of the best free sources is the humble <a style="color: red;" id="skiplink" href="https://en.wikipedia.org/wiki/Skip_(container)">skip</a>. The problem with skips is finding them. Aside from some specific instances finding a skip is mostly down to luck as is the contents. 
</p>

<p>
	Scavengr seeks to fix this by connecting finders and users.
</p>

<h4 class="faq">FAQ</h4>
<div>
	<li>
		<span class="q">What is Scavengr?</span>
		<p>A way to help people looking for free materials with sources of discarded materials.</p>
	</li>
	<li>
		<span class="q">How does it work?</span>
		<p>If you find a skip, make a post about it. If you find a posted skip, rate it.</p>
	</li>
</div>

<h4 class="faq">Real life rules</h4>
Real life rules (aka common sense in writing) <br><br>
Failure to follow these ruins it for everyone.
<div>
	<ol>
		<li>
			Don't make a mess.<br>
			If you take something out, take it with you or put it back.
		</li>
		<br>
		<li>
			Skips MUST be publicly accessible.<br>
			Even one small rope and it's a no go. 
		</li>
		<br>
		<li>
			Don't interfere with the actual operation of the skip.<br>
			The owner putting stuff in the skip ALWAYS takes precedent over you trying take stuff out.
		</li>
		<br>
		<li>
			Be polite.<br>
			If the owner/user of a skip asks you not to raid it, apologise and leave. 
		</li>
	</ol>
</div>
</div>
