﻿@{
    ViewData["Title"] = "Contact";
    ViewData["cssPath"]="home";
}
<h2 class="page-title">@ViewData["Title"]</h2>
<br>
<div style="text-align: center; margin-bottom: 300px;">
For now the best option is to contact us on reddit.<br><br>
<a style="color:red" href="reddit.com/u/Donutnz">u/Donutnz</a>
</div>
<b>