@{
	ViewData["Title"]="Scavengr";
	//ViewData["ignoreHeader"]=true;
    ViewData["cssPath"]="home";
}

<div class="banner">
    <h1>Scavengr</h1>
    <!--<h3>Skips in and around your area</h3>-->
	<h3>Free materials container tracker</h3>
	<img class="home-graphic" src="~/images/InstructionGraphic.svg">
<div>

<div class="options">
    <div class="btnmain">
		<a href="@ViewData["URL"]/browse/">Browse</a>
    </div>
    <div class="btnmain">
        <a href="@ViewData["URL"]/upload/">Upload</a>
    </div>
	<div class="btnmain">
        <a href="@ViewData["URL"]/search/">Search</a>
    </div>
</div>
