﻿@{
	ViewData["Title"]="Log in";
	ViewData["ignoreHeader"]=true;
	ViewData["cssPath"]="login";
}

<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

<div id="login" style="display:block">
	<!--Log in-->
	<h3>Login using your details below</h3>

	<form id="formLI">
		<div><input class="login-details" type="text" name="email" placeholder="Email"/></div>
		<br>
		<div><input class="login-details" type="password" name="pass" placeholder="Password"/></div>
		<br>
		<input class="login-submit" type="submit" value="Submit"/>
		<div id="errorText"><br></div>
	</form>
	<div id="msglogin" style="color: rgb(178,34,34); font-weight:bold; font-size: 16px"> Don't have an account? <input type="button" id="switchForm" value="Sign Up"></div>
</div>

<div id="signup" style="display:none">
	<!--Sign up-->
	<h3>Sign Up</h3>

	<form id="formSU">
		<div><input id="email" class="login-details" type="text" name="email" placeholder="Email"/></div>
		<br>
		<div><input id="user" class="login-details" type="text" name="user" placeholder="Username"/></div>
		<br>
		<div><input id="password" class="login-details" type="password" name="pass" placeholder="Password"/></div>		
		<br>
		<input class="login-submit" type="submit" value="Submit"/>
		<div id="errorText"><br></div>
	</form>
	<div id="msglogin" style="color: rgb(178,34,34); font-weight:bold; font-size: 16px"> Already have an accoount? <input type="button" style="width: 60px;" id="switchFormBack" value="Log in"></div>
</div>

<!--<input type="button" id="signAnon" value="Anonymous">-->

<br>

<script>

function myFunction() {
var w = document.getElementById("errorText").innerHTML;
document.getElementById("try").innerHTML = w;
}

</script>


<script>

//character validation
$(document).ready(function(){
	$("#user, #password").keypress(function(event){
    var inputValue = event.which;
    if(!(inputValue >= 65 && inputValue <= 122) && !(inputValue >= 48 && inputValue <= 57) && (inputValue != 32 && inputValue != 0)) { 
        event.preventDefault(); 
		alert("special characters are not allowed");
    }
    });
});

$(document).ready(function(){
	$("#email").keypress(function(event){
    var inputValue = event.which;
    if(!(inputValue >= 65 && inputValue <= 122) && !(inputValue >= 48 && inputValue <= 57) && (inputValue != 46 && inputValue != 64 && inputValue != 32 && inputValue != 0)) { 
        event.preventDefault();
		alert("special characters are not allowed");
    }
    });
});


var dispLI=true;

$("#switchForm").click(function(){
	dispLI=!dispLI;

	if(dispLI){
		$("#login").show();
		$("#signup").hide();
		$("#switchForm").prop("value", "Sign Up");
	}
	else{
		$("#login").hide();
		$("#signup").show();
		$("#switchForm").prop("value", "Log In");
	}
});

$("#switchFormBack").click(function(){
	dispLI=!dispLI;

	if(dispLI){
		$("#login").show();
		$("#signup").hide();
		$("#switchForm").prop("value", "Sign Up");
	}
	else{
		$("#login").hide();
		$("#signup").show();
		$("#switchForm").prop("value", "Log In");
	}
});

var request;

$("#formLI").submit(function(e){
	//Check email in use. URL: /Login/CheckEmail?email=the_email
	//Check username in use. URL: /Login/CheckUsername?username=the_username
	//Check username chars (no [] etc.)
	postLogin(e, $(this), "/LogIn");
});

$("#formSU").submit(function(e){
	postLogin(e, $(this), "/SignUp");
});

function postLogin(e, form, endpoint){
	e.preventDefault();
	var serForm=form.serialize();
	console.log("postLogin: "+serForm);

	if(request){
		request.abort();
	}
	
	request=$.ajax({
		url: "@ViewData["URL"]/Login"+endpoint,
		contentType: "application/x-www-form-urlencoded",
		dataType: "json",
		type: "post",
		data: serForm
	});

	$("#errorText").html("Working...");

	request.done(function(resp, status, jqXHR){
		console.log("ajax success "+resp+status);
		console.log("Resp text: "+request.responseText);

		var resp=request.responseJSON;

		if(resp.Status=="success"){
			//window.history.back();
			$("#errorText").html("Successfully logged in");
			//alert("Successfully logged in")
		}
		else{
			//$("#errorText").html("Error: "+resp.Error);
			if(resp.Error === "INVALID_EMAIL"){
			$("#errorText").html("Invalid email");
			}
			else if(resp.Error === "MISSING_PASSWORD"){
			$("#errorText").html("Invalid password");
			}
			else if(resp.Error === "INVALID_PASSWORD"){
			$("#errorText").html("Invalid password");
			}
			else{
				$("#errorText").html(resp.Error);
			}
		}
	});

	request.fail(function(jqXHR, status, error){
		console.error("ajax error: "+status, error);
	});

	request.always(function(){
		console.log("ajax complete");
	});
}



</script>
