﻿@using scavengr.DataObjects;
@{
	ViewData["Title"]="Advanced Search";
	int tagPrevs=5;
	ViewData["ignoreHeader"]=true;
	ViewData["cssPath"]="search";
}

<script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>

<div class="search-info">
	<h5>Search info:</h5>
	<ul>
		<li>title:text to search in post Titles</li>
		<li>description:text to search in post Descriptions</li>
		<li>author:text to search for author</li>
		<li>-tag to exclude a tag</li>
		<li>These can be used in combination</li>
	</ul>
</div>

<form id="searchForm">
	<div class="search">
			<div class="search-bar">
				Search: <input type="text" name="qry" value="@ViewData["qry"]" placeholder="e.g. metal wooden_beams"> <br>
			</div>
			<div id="sort">
				Sort:<br><br>
				<input type="radio" name="sort" value="title">Title<br>
				<input type="radio" name="sort" value="date" checked="true">Date posted <br>
				<input type="radio" name="sort" value="status">Status<br>
			</div>
			<div id="order">
				Order:<br><br>
				<input type="radio" name="order" value="dsc" checked="true">Descending<br>
				<input type="radio" name="order" value="asc">Ascending<br>
			</div>
			<div id="submit">
				<input type="submit" value="Submit">
			</div>
	</div>
	<!-- Mobile version search form -->
	<!--
		<div class="search-mobile">
			<div class="search-bar">
				Search: <input type="text" name="qry" value="@ViewData["qry"]" placeholder="e.g. metal wooden_beams"> <br>
			</div>
			<div id="sortorder">
			<div id="sort">
				Sort:<br><br>
				<input type="radio" name="sort" value="title">Title<br>
				<input type="radio" name="sort" value="date" checked="true">Date posted <br>
				<input type="radio" name="sort" value="status">Status<br>
			</div>
			<div id="order">
				Order:<br><br>
				<input type="radio" name="order" value="dsc" checked="true">Descending<br>
				<input type="radio" name="order" value="asc">Ascending<br>
			</div>
			</div>
			<div id="submit">
				<input type="submit" value="Submit">
			</div>
	</div>
	-->

</form>
<h3 id="result-title">Results:</h3>
<div id="searchResult">
	@if(ViewBag.Posts != null && ViewBag.Posts.Count > 0){
		foreach(Post pt in ViewBag.Posts){
			<div id="post@pt.PID" class="result-box">
				<img class="result-thumb" src="@ViewData["ImgURL"]@pt.ImagePath">
				<div class="cont">
					<b>@pt.Title</b> <br id="brk"><br>Location: @pt.MarkerCoord.Item1,@pt.MarkerCoord.Item2 
					<br id="brk"><br>	Date Posted: @pt.Date
					Poster: @pt.Username
					<br id="brk"><br>
					@{
						string tags="";
						if(pt.Tags.Count > tagPrevs){
							tags=String.Join(", ", pt.Tags.ToArray(), 0, tagPrevs);
						}
						else{
							tags=String.Join(", ", pt.Tags.ToArray(), 0, pt.Tags.Count);
						}
					}
					Tags: @tags...
					<br><br id="brk">
					<a  style="color:rgb(178,34,34);" href="@ViewData["URL"]/PostDetail/@pt.PID">More</a>
				</div>
			</div>
		}
	}
	else{
		<p>No one here but us chickens...</p>
	}
</div>

<div class="pagespp">
	Posts per page:
	<a class="perpage-setting" href="?perpage=5">5</a>
	<a class="perpage-setting" href="?perpage=10">10</a>
	<a class="perpage-setting" href="?perpage=20">20</a>
</div>

<div class="controls">
	<a class="navbutton" href="?page=0">First</a>
	<a class="navbutton" href="?page=@ViewData["PrevPage"]">Previous</a>
	<a class="navbutton" href="?page=@ViewData["NextPage"]">Next</a>
	<a class="navbutton" href="?page=@ViewData["PageCount"]">Last</a>	
</div>