﻿@using scavengr.DataObjects;
@{
	ViewData["Title"]="Post Details";
	ViewData["cssPath"]="post";
	
	string votedUp="";
	string votedDown="";

	if(ViewData["userVote"] != null){
		if((bool)ViewData["userVote"]){
			votedUp="checked=\"true\"";
		}
		else{
			votedDown="checked=\"true\"";
		}
	}

	double lon=ViewBag.Post.MarkerCoord.Item1;
	double lat=ViewBag.Post.MarkerCoord.Item2;

	string markedMoved="";

	//Need user-post specific flags. Flag manager?
	if(((int)ViewData["flags"] & (int)Post.Flags.MOVED) > 0){
		markedMoved="disabled=\"true\"";
	}
}
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script src="~/js/v5.2.0-dist/ol.js"></script>
<link rel="stylesheet" href="~/js/v5.2.0-dist/ol.css" type="text/css">
<script src="~/js/scavmap.js"></script>

<!-- <h2 class="page-title">Post Details</h2> -->

<div class="post-body">
	<div class="imgmap">
		<div>
			<img id="postImageHere" src="@ViewData["ImgURL"]@ViewBag.Post.ImagePath">
		</div>
		<div id="postMap" class="details-map map" style="background-color:hotpink"></div>
	</div>

	<div class="post-info">
		<div id="postTags" class="tag-strip">
		@foreach(string t in ViewBag.Post.Tags){
			<li id="tag-list" style="list-style: none">
				<a id="tag" href="@ViewData["URL"]/search?qry=@t">@t</a>
			</li>
		}
		</div>

		<div id="postDetails">
			@ViewBag.Post.Status @ViewBag.Post.Title (@ViewBag.Post.PID)<br><br>

			Poster: 
			@if(!String.IsNullOrEmpty(ViewBag.Post.UserID)){
				<a style="color: rgb(178,34,34);"href="@ViewData["URL"]/userdetail/@ViewBag.Post.Username">@ViewBag.Post.Username</a>
			}
			else{
				<!--Might make this link to some help page about Anon posting.-->
				@ViewBag.Post.Username
			}
			<br><br>
			@ViewBag.Post.Description
		</div>
		<div class="postcontrols">
			<div class="btnVote"><div>Upvote<input type="checkbox" class="checkbx" id="chkUp" name="statusVote" value="upVote" @Html.Raw(@votedUp)></div></div>
			<div class="btnVote"><div>Downvote<input type="checkbox" class="checkbx" name="statusVote" value="downVote" @Html.Raw(@votedDown)></div></div>

			<div>
				<!--Would quite like this to lock all voteing-->
				@{
					if((ViewBag.Post.PostFlags & (int)ViewData["MOVED"]) > 0){
						<div class="moved-sign">Moved</div>
					}
					else{
						<button class="voteMoved moved-button" id="btnFlagRemoved" value="@ViewBag.Post.PID" @Html.Raw(markedMoved)>Flag removed</button>
					}
				}
			</div>
		</div>
			<div>
					@{
				if((bool)ViewData["loggedIn"]){
					if((ViewBag.Post.UserID == ViewBag.CurrentUser.UID) || ((ViewBag.CurrentUser.UserFlags & (int)UserObject.Flags.EDITOR) > 0)){
						<div id="editSet" class="edit-opts">
							<button id="delPost">Delete post</button> <br>
							<button id="confMoved">Confirm moved</button> <br>
							<button id="confInap">Confirm Inappropriate</button>
						</div>
					}
				}
			}
	</div>

</div>

<script>
var rootURL="@ViewData["URL"]";

//Map stuff
initMap("postMap", @lon, @lat);
addMarker("Marker", @lon, @lat);

//Flag stuff
var flagReq;

$("#btnFlagRemoved").click(function(e){
	//console.log("Vote mov: "+e.target.value);

	if(flagReq){
		flagReq.abort();
	}

	//Flag ID is actually ignored because security. Will eventually fix this.
	flagReq=$.ajax({
		url: rootURL+"/PostDetail/addflag",
		contentType: "application/json; charset=utf-8",
		dataType: "json",
		type: "post",
		data: JSON.stringify({
			flagID: 1,
			pid: @ViewBag.Post.PID
		})
	});

	flagReq.done(function(resp, status, jqXHR){
		console.log("Flag ajax success: "+resp+status);
		
		if(!flagReq.responseJSON.loggedIn){
			alert("This requires login");
		}
	});

	flagReq.fail(function(jqXHR, status, error){
		console.log("Flag ajax fail");
	});
});
</script>

<script>
//Status voteing stuff
var request;

$("#chkUp").change(function(e){
	console.log("up vote toggle");

	if($("#chkUp").prop("checked")){
		console.log("UV Checked");
		$("#chkDown").prop("checked", false);
		sendVote(1);
	}	
	else{
		console.log("Unchecked");
		sendVote(0);
	}
});

$("#chkDown").change(function(e){
	console.log("down vote toggle");

	if($("#chkDown").prop("checked")){
		console.log("DV Checked");
		$("#chkUp").prop("checked", false);
		sendVote(-1);
	}	
	else{
		console.log("Unchecked");
		sendVote(0);
	}
});

function sendVote(v){
	if(request){
		request.abort();
	}

	request=$.ajax({
		url: rootURL+"/PostDetail/VotePost",
		contentType: "application/json; charset=utf-8",
		dataType: "json",
		type: "post",
		data: JSON.stringify({
			vid: v,
			pid: @ViewBag.Post.PID
		})
	});

	request.done(function(resp, status, jqXHR){
		console.log("Vote ajax success: "+resp+status);

		if(!request.responseJSON.loggedIn){
			alert("This requires login");

			$("#chkUp").prop("checked", false);
			$("#chkDown").prop("checked", false);
		}
	});

	request.fail(function(jqXHR, status, error){
		console.log("Vote ajax fail");
	});
}
</script>

<script>
	//Confirm flag. This changes it for the post itself, not user-post relation.

	$("#confMoved").click(function(e){
		sendConfFlag(@((int)Post.Flags.MOVED));
	});

	$("#confInap").click(function(e){
		sendConfFlag(@((int)Post.Flags.INAPPROPRIATE));
	});

	var editReq;
	
	function sendConfFlag(f){
		if(editReq){
			editReq.abort();
		}

		editReq=$.ajax({
			url: rootURL+"/PostDetail/ConfFlag",
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			type: "post",
			data: JSON.stringify({
				flagID: f,
				pid: @ViewBag.Post.PID
			})
		});

		editReq.done(function(resp, status, jqXHR){
			console.log("Conf flag success");
		});

		editReq.fail(function(jqXHR, status, error){
			console.log("Conf flag fail: "+error);
		});
	}
</script>