@using scavengr.DataObjects;
@{
	ViewData["Title"]="Profile";
	ViewData["cssPath"]="profile";
}

<script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>

<div class="profile-body">
	<div class="profile-menu">
		<button class="profile-nav" onclick="profileClick()">Profile</button>
		<button class="profile-nav" onclick="emailClick()">Change Email</button>
		<button class="profile-nav" onclick="passClick()">Change Password</button>
		<button class="profile-nav" onclick="deleteClick()">Delete Account</button>
		<button class="profile-nav" id="btnLogout">Log out</button>
	</div>

	<div class="profile-content">
		<div id="profileInfo">
			Profile name: @ViewBag.CurrentUser.Username <br><br>
			Date Registered: @ViewBag.CurrentUser.DateCreated<br><br>
			Last Active: @ViewBag.CurrentUser.LastLogin<br><br>
			Posts:<br><br>
			<div class="profile-posts">
				@if(ViewBag.Posts != null){
					foreach(Post p in ViewBag.Posts){
						<div class="profile-post">
								<div class="image-container">
									<img style="display:block;max-width:100%;max-height:100%;" src="@ViewData["ImgURL"]@p.ImagePath" class="image">
								</div>
								<div class="text">
									<p>Title: @p.Title</p>
									<p>Location: @p.MarkerCoord.Item1,@p.MarkerCoord.Item2</p>
									<p>Date Posted: @p.Date</p>
									<p>Status: @p.Status</p> 
								</div>
								<a class="profileMore" href="@ViewData["URL"]/PostDetail/@p.PID">More</a>
						</div>
					}	
				}
		</div>
		</div>

		<div id="emailChange">
			<form id="emailChgForm">
				Current email: <input type="text" id="currentEmail" name="curEmail"><br>
				Current password: <input style="margin-left: 2px;" class="pass" type="text" name="passwd"><br>
				New email: <input type="text" id="newEmail" name="newEmail"><br>
				<input type="submit" id="butsave" value="Save">
			</form>
		</div>

		<div id="passwdChange">
			<form id="passwdChgForm">
				Current email: <input type="text" id="psEmail" name="email"><br>
				Current password: <input style="margin-left: 2px;" class="pass" type="password" id="currPass" name="oldPasswd"><br>
				New password: <input type="password" id="newPass" name="newPasswd"><br>
				Verify password: <input type="password" id="verPasswd"><br>
				<input type="submit" id="butsave" value="Save">
			</form>
		</div>

		<div id="delAccnt">
			<h4>Deactivate account</h4>
			<form id="accDel">
				Password: <input type="password" name="passwd">
				<p>Warning: You will no longer be able to access your account. Never. Permanently.<br> 
				You posts however will persist. And your username will be permanantly locked.</p>
				Are you sure? <input type="checkbox" name="isSure"><br>
				<input type="submit" id="butsave" value="Confirm">
			</form>
		</div>

		<div id="loadingDiv">
			Nothing yet...
		</div>
	</div>
</div>

<script>
var request;

//character restriction
$(document).ready(function(){
	$("#newPass").keypress(function(event){
    var inputValue = event.which;
    if(!(inputValue >= 65 && inputValue <= 122) && !(inputValue >= 48 && inputValue <= 57) && (inputValue != 32 && inputValue != 0)) { 
        event.preventDefault(); 
		alert("special characters are not allowed");
    }
    });
});

$(document).ready(function(){
	$("#newEmail").keypress(function(event){
    var inputValue = event.which;
    if(!(inputValue >= 65 && inputValue <= 122) && !(inputValue >= 48 && inputValue <= 57) && (inputValue != 46 && inputValue != 64 && inputValue != 32 && inputValue != 0)) { 
        event.preventDefault();
		alert("special characters are not allowed");
    }
    });
});

//Logout handling.
$("#btnLogout").click(function(e){
	if(confirm("Are you sure you want to log out?")){
	if(request){
		request.abort();
	}
	request=$.get("/profile/logout");

	request.done(function(resp, status, jqXHR){
		window.location.href = "/";
	});
	}
});

//Email change stuff
$("#emailChgForm").submit(function(e){
	e.preventDefault();

	if(request){
		request.abort();
	}

	request=$.ajax({
		url: "@ViewData["URL"]/profile/changeemail",
		contentType: "application/x-www-form-urlencoded",
		dataType: "json",
		type: "post",
		data: $(this).serialize()
	});

	$("#loadingDiv").html("Working...");

	request.done(function(resp, status, jqXHR){
		console.log("Change email done");

		if(request.responseJSON.success){
			$("#loadingDiv").html("Email changed successfully");
		}
		else{
			$("#loadingDiv").html("Email change failed: "+request.responseJSON.message);
		}
	});

	request.fail(function(jqXHR, status, error){
		console.log("Change email ajax error");
		$("#loadingDiv").html("Ajax error");
	})
});

//Password change stuff
$("#passwdChgForm").submit(function(e){
	e.preventDefault();

	if($("#newPass").val() != $("#verPasswd").val()){
		console.log("Passwords dont match");
		$("#loadingDiv").html("Passwords do not match");
		return;
	}

	if(request){
		request.abort();
	}

	request=$.ajax({
		url: "@ViewData["URL"]/profile/changepassword",
		contentType: "application/x-www-form-urlencoded",
		dataType: "json",
		type: "post",
		data: $(this).serialize()
	});

	$("#loadingDiv").html("Working...");

	request.done(function(resp, status, jqXHR){
		console.log("Change password done");

		if(request.responseJSON.success){
			$("#loadingDiv").html("Password changed successfully");
		}
		else{
			$("#loadingDiv").html("Password change failed: "+request.responseJSON.message);
		}
	});

	request.fail(function(jqXHR, status, error){
		console.log("Change password ajax error");
		$("#loadingDiv").html("Ajax error");
	})
});

//Delete post stuff
var delReq;

function delPost(pid){
	console.log(pid);

	if(delReq){
		delReq.abort();
	}

	delReq=$.ajax({
		url: "@ViewData["URL"]/profile/deletepost",
		contentType: "application/json",
		dataType: "json",
		type: "post",
		data: JSON.stringify({
			"pid": pid
		})
	});

	delReq.done(function(resp, status, jqXHR){
		console.log("Delete post complete");
		if(delReq.responseJSON.success){
			$("#loadingDiv").html("Post deleted successfully");
			$("#post"+pid).hide();
		}
		else{
			$("#loadingDiv").html("Post delete failed");
		}
	});

	delReq.fail(function(jqXHR, status, error){
		console.log("Delete ajax error");
	});
}
</script>

<script>
//Javascript
		var ids = ["emailChange", "passwdChange", "delAccnt", "profileInfo"];
		var len = ids.length;

		function profileClick(){		
		for (var i = 0; i < len; i++){
			var y = document.getElementById(ids[i]);
			y.style.display = "none";
		}
		var x = document.getElementById("profileInfo");
		x.style.display = "flex"
		}

		function emailClick(){		
		for (var i = 0; i < len; i++){
			var y = document.getElementById(ids[i]);
			y.style.display = "none";
		}
		var x = document.getElementById("emailChange");
		x.style.display = "flex"
		}

		function passClick(){		
		for (var i = 0; i < len; i++){
			var y = document.getElementById(ids[i]);
			y.style.display = "none";
		}
		var x = document.getElementById("passwdChange");
		x.style.display = "flex"
		}

		function deleteClick(){		
		for (var i = 0; i < len; i++){
			var y = document.getElementById(ids[i]);
			y.style.display = "none";
		}
		var x = document.getElementById("delAccnt");
		x.style.display = "flex"
		}
</script>