﻿<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>@ViewData["Title"]</title>
		<link rel="stylesheet" href="~/css/site.css" type="text/css"/>
		@if(!String.IsNullOrEmpty((string)ViewData["cssPath"])){
			<link rel="stylesheet" href="~/css/@(ViewData["cssPath"]).css" type="text/css"/>
		}
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	
		@Html.Partial("_Favicons")
	</head>
	
	<body>
		<div class="header-bar">
			
			<h3 class="scav-title">
				<a href="@ViewData["URL"]">
					<img class="home-icon" src="~/images/ScavIconMainWhite.svg"> Scavengr&nbsp;(Beta)
				</a>
			</h3>

			@if(ViewBag.CurrentUser != null){
				<h2 id="signedinusername">
					<a href="@ViewData["URL"]/profile">@ViewBag.CurrentUser.Username</a>
				</h2>
			}
			else{
				<h2 id="btnsignin">
					<a href="@ViewData["URL"]/login">Log&nbsp;in/&#8203;Sign&nbsp;up</a>
				</h2>
			}

		</div>

		<div class="container body-content">
			<div id="all-cont">
				@{
					if(!(bool)ViewData["ignoreHeader"]){
						<div style="height:8vh"></div>
					}
				}
				<div style="flex-grow: 1;display:flex;flex-direction:column;justify-content:center;">
					@RenderBody()
				</div>
			</div>
		</div>

		<footer>
			<span style="text-align: center">&copy; 2018 - scavengr</span>
			<div class="ftr">
				<a id="infoa" href="@ViewData["URL"]/About">About</a>
				<a id="infoa" href="@ViewData["URL"]/Contact">Contact</a>
				<a id="infoa" href="~/images/license.pdf">Attribution</a>
			</div>
		</footer>
		@RenderSection("Scripts", required: false)
	</body>
</html>