﻿@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h2 class="page-title text-danger">Error</h2>
<h3 class="text-danger">An error occurred while processing your request.</h3>

<img src="~/images/DeadMouse.jpg" alt="Dead mouse" class="error-img">

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}