﻿@using scavengr.DataObjects;
@{
	ViewData["Title"]="User Details";
}

Overview for @ViewBag.User.Username
<br>
Reputation: @ViewBag.User.Reputation
<br>
Birthday: @ViewBag.User.DateCreated
<br><br>
Posts
<div id="userPosts">
		@foreach(Post p in ViewBag.User.Posts){
			<li>
				<a href="/PostDetail/@p.PID">
					@p.PID @p.Title
				</a>
			</li>
		}
</div>