#browsecontent{
	width: 100%;
	padding-top: 3%;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
} 

.postlist{
	width: 40%;
}

.posts{
	margin-left: 0%;
}

.posts p{
	font-size: 12px;
}

.text{
	padding: 10px;
	width: 60%;
}

#more {
	text-align: right;
	display: inline;
	font-size: 12px;
	color: rgb(178,34,34);
	float: center;
	opacity: 0.6;
	width: 20%;
	margin-left: 0;
}

#more:hover {
	opacity: 1;
	transition: 0.7s;
}

.image-hoder{
	width: 200px;
}

.image-container{
	margin: 10px 10px;
	max-height: 200px;
	max-width: 40%;
}

.controls{
	display:flex;
	justify-content: center;
	flex-direction: row;
}

.navbutton{
	margin-left: 20px;
	margin-bottom: 40px;
	margin-top: 10px;
	height: 30px;
	width: 100px;
	background-color: rgb(178,34,34);
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	font-size: 14px;
	text-align: center;
	border-radius: 25px;
}

.navbutton:hover { 
	opacity: 0.6;
	transition: 0.7s;
}

.mapspace{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: pink;
	height: 400px;
	width: 400px;
	margin-top: 65px;
	margin-left: 130px;
	margin-right: 120px;
}

.post{
	border: rgb(178,34,34);
	border-style: solid;
	border-width: 1px;
	display: flex;
	flex-direction: row;
	margin-bottom: 15px;
	height: 100%;
}
.moved-sign{
	color: white;
	font-size: 12px;
	padding: 5px;
	background-color: rgb(178,34,34);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#browsecontent-mobile{
	display: none;
}

/*
@media only screen and (max-width: 560px){
	#browsecontent{
		display:none;
	}
	
	#browsecontent-mobile{
		display: flex;
		flex-direction: column;
	} 

	.mapspace{
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: pink;
		height: 300px;
		width: 310px;
		margin: 25px;
	}

	.postlist{
		width: 90%;
	}

	.post{
		border: rgb(178,34,34);
		border-style: solid;
		border-width: 1px;
		display: flex;
		flex-direction: row;
		margin-bottom: 15px;
		height: 130px;
	}

	.posts p{
		font-size: 10px;
	}

	.text{
		padding: 5px;
		width: 60%;
	}
	
	#more {
		text-align: right;
		display: inline;
		font-size: 12px;
		color: rgb(178,34,34);
		text-align: center;
		opacity: 0.6;
		width: 20%;
		margin-left: 65%;
	}

	.moved-sign{
		color: white;
		font-size: 8px;
		padding: 2px;
		background-color: rgb(178,34,34);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#browseMap{
		margin-left: 8%;
	}
}
*/
@media only screen and (max-width: 560px){
	#browsecontent{
		display: flex;
		flex-direction: column;
	}

	.postlist{
		width: 40%;
		margin-left: 15px;
	}

	.mapspace{
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: pink;
		height: 300px;
		width: 310px;
		margin: 25px;
	}

	.postlist{
		width: 90%;
	}

	#brake{
		display: none;
	}

	.post{
		border: rgb(178,34,34);
		border-style: solid;
		border-width: 1px;
		display: flex;
		flex-direction: row;
		margin-bottom: 15px;
		height: 150px;
	}

	.posts p{
		font-size: 10px;
	}

	.text{
		padding: 5px;
		width: 60%;
	}
	
	#more {
		text-align: right;
		display: inline;
		font-size: 12px;
		color: rgb(178,34,34);
		text-align: center;
		opacity: 0.6;
		width: 20%;
	}

	.moved-sign{
		color: white;
		font-size: 8px;
		padding: 2px;
		background-color: rgb(178,34,34);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#browseMap{
		margin-left: 8%;
	}
}

@media only screen and (min-width: 768px) and (max-width : 1024px){
	.mapspace{
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: pink;
		height: 400px;
		width: 400px;
		margin-top: 2%;
		margin-right: 22%;
		margin-bottom: 2%;
	}
	.postlist{
		margin-right: 25%;
	}
}