.options{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	/*padding-bottom: 200px;*/
	flex-wrap: wrap;
}

.btnmain{
	border: 1px;
	border-radius: 25px;
	margin: 20px;
	padding: 15px 45px;
	background-color: rgb(178,34,34);
}

.btnmain:hover { 
	opacity: 0.6;
	transition: 0.7s;
}

.banner{
	text-align: center;
	/*padding-top: 150px;*/
	/*padding-top: 15vh;*/
	color:rgb(178,34,34);
}

.home-graphic{
	max-width: 50vmin;
}

/*CONTACT/ABOUT*/

.page-title{
	text-align: center;
	margin-top: 60px;
	margin-bottom: 30px;
}

.abt-cont-content{
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom:50px; 
}

.faq{
	margin-top: 50px;
	font-size: 20px;
	margin-bottom: 10px;
}

.q{
	font-weight: bold;
}
