
#login, #signup{
	margin-top: 140px;
	margin-bottom: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#login h3{
	color: rgb(178,34,34);
	font-weight: bold;
}

#formLI{
	border: solid 1px red;
	margin: 2% 40%;
	padding: 40px 20px;
	color: white;
	background-color: rgb(178,34,34);	
}

.login-details{
	width: 70%;
	border-radius: 25px;
	height: 20px;
	padding-left: 5px;
}

.login-submit{
	width: 75%;
	border-radius: 25px;
	height: 25px;
	font-family: 'Montserrat', sans-serif;
	background-color: white;
	color: rgb(178,34,34);
	font-size: 14px;
}

.login-submit:hover{
	background-color: rgba(178, 34, 34, 0.651);
	color:white;
	transition: 0.5s;
}

#switchForm, #switchFormBack{
	font-size: 12px;
	height: 25px;
    width: 5%;
	color: white;
    background-color: rgb(178,34,34);
	border-radius: 25px;
}

#switchForm:hover, #switchFormBack:hover{
	opacity: 0.6;
	transition: 0.5s;
}

#signup h3{
	color: rgb(178,34,34);
	font-weight: bold;
}

#formSU{
	border: solid 1px red;
	margin: 1% 80%;
	width: 20%;
	padding: 40px 20px;
	color: white;
	background-color: rgb(178,34,34);
}

#errorText{
	color: white;
	margin-top: 20px;
}

@media only screen and (max-width: 560px){
	#formLI{
		border: solid 1px red;
		margin: 0;
		margin-bottom: 1%;
		width: 100%;
		padding: 40px 20px;
		color: white;
		background-color: rgb(178,34,34);	
	}

	#switchForm{
		width: 60px;
	}

	#formSU{
		border: solid 1px red;
		margin: 2%;
		width: 100%;
		padding: 40px 20px;
		color: white;
		background-color: rgb(178,34,34);
	}

	#formLI .login-details, #formLI .login-submit{
		margin-right: 40px;
	}
	
	.login-submit{
		width: 73%;
	}
}

@media only screen and (min-width: 768px) and (max-width : 1024px){
	#formLI{
		border: solid 1px red;
		margin: 0;
		margin-bottom: 1%;
		width: 40%;
		margin-left: 28%;
		padding: 40px 20px;
		color: white;
		background-color: rgb(178,34,34);	
	}

	#switchForm{
		width: 60px;
	}

	#formSU{
		border: solid 1px red;
		margin: 2%;
		width: 40%;
		padding: 40px 20px;
		color: white;
		background-color: rgb(178,34,34);
	}

	#formLI .login-details, #formLI .login-submit{
		margin-right: 40px;
	}
	
	.login-submit{
		width: 73%;
	}
}