.post-body{
	width: 100%;
}

.imgmap{
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-top: 50px;
}

#postMap{
	background-color: blue;
}

.details-map{
	margin-left: 10%;
	width: 240px;
	height: 240px;
}

.moved-sign{
	font-size: 12px;
	height: 40px;
	width: 120px;
	display: block;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: white;
	background-color:rgb(223, 162, 51);
}

#postImageHere{
	height: 240px;
	width: 240px;
	background-color: blue;
	margin-left: 30%;
}

.tag-strip{
	background-color: rgb(206, 66, 66);
	width: 44%;
	margin-top: 10px;
	height: 5%;
	display: flex;
	flex-direction: row;
	float: left;
	margin-left: 5%;
	border-radius: 25px;
}

.tag-strip:after{
	content: "";
    display: table;
    clear: both;
}

#tag-list{
	margin: 0px 2.5%;
	text-align: center;
	height: 80%;
	margin-top: 1px;
	opacity: 0.5;
	color: white;
}

#tag-list:hover{
	opacity: 1.0;
	transition: 0.7s;
}

.post-info{
	display: flex;
	flex-direction: column;
}

#postDetails{
	margin-left: 5%;
	margin-top: 10px;
}

.postcontrols{
	margin-left: 5%;
	display: flex;
	flex-direction: row;
	width: 42%;
	margin-top: 20px;
	justify-content: space-between;
}

#btnFlagRemoved{
	font-size: 12px;
	height: 40px;
    width: 120px;
	display: block;
	color: white;
    background-color: rgb(178,34,34);
	border-radius: 25px;
}

#btnFlagRemoved:hover{
	opacity: 0.6;
	transition: 0.7s;
}

#btnFlagRemoved:disabled, button[disabled]{
	background-color: gray;
}

.btnVote{
	font-size: 12px;
	display: flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;
	height: 40px;
    width: 120px;
	color: white;
    background-color: rgb(178,34,34);
	border-radius: 25px;
}

.edit-opts{
	display: flex;
	flex-direction: row;
	margin-left: 5%;
	width: 42%;
	justify-content: space-between;
	margin-top: 25px;
}

#delPost, #confMoved, #confInap{
	display: flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;
	height: 40px;
    width: 120px;
	color: white;
    background-color: rgb(178,34,34);
	border-radius: 25px;
	margin-bottom: 25px;
}

#delPost:hover, #confMoved:hover, #confInap:hover{
opacity: 0.6;
transition: 0.7s;
}

@media only screen and (max-width: 560px){
	#postImageHere{
		height: 240px;
		width: 240px;
		background-color: blue;
		margin-left: 0;
	}

	.imgmap{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-top: 50px;
	}

	.post-body{
		width: 100%;
		height: 100%;
	}

	.details-map{
		margin-left: 0;
		margin-top: 2%;
		width: 240px;
		height: 240px;
	}

	.post-info{
		display: flex;
		flex-direction: column;
		margin-left: 15%;
	}

	#postTags{
		width: 75%;
	}

	.postcontrols{
		margin-left: 6%;
		margin-bottom: 20px;
		display: flex;
		flex-direction: row;
		width: 77%;
		margin-top: 20px;
		justify-content: space-between;
	}

	#btnFlagRemoved{
		width: 70px;
	}

	.btnVote{
		width: 90px;
	}

	.edit-opts{
		display: flex;
		flex-direction: row;
		width: 77%;
		justify-content: space-between;
		margin-top: 25px;
	}
	
	#delPost, #confMoved, #confInap{
		display: flex;
		flex-direction:row;
		justify-content: center;
		align-items: center;
		height: 40px;
		width: 120px;
		color: white;
		background-color: rgb(178,34,34);
		border-radius: 25px;
		margin-bottom: 25px;
	}
}

@media only screen and (min-width: 768px) and (max-width : 1024px){
	#postImageHere{
		margin-left: 17%;
	}

	.tag-strip{
		width: 67%;
	}
}