#emailChange {
	display: none;
	font-size: 14px;
	margin-left: 15px;
	margin-top: 15px;
}

#currentEmail {
	margin-left: 30px;
}

#newEmail {
	margin-left: 52px;
}

#butsave {
	font-size: 12px;
    height: 27px !important;
    width: 70px;
    display: block;
    color: white;
    background-color: rgb(178,34,34);
	border-radius: 25px;
	margin-top: 10px;
	margin-left: 120px;
}

#saveEmail:hover{
	opacity: 0.6;
	transition: 0.7s;
}

#passwdChange {
	display: none;
	font-size: 14px;
	margin-left: 15px;
	margin-top: 15px;
}

#psEmail{
	margin-left: 30px;
}

.pass{
	margin-left:20px;
}

#newPass{
	margin-left: 24px;
}

#verPasswd{
	margin-left: 16px;
}

#delAccnt {
	display: none;
	font-size: 14px;
	margin-left: 15px;
	margin-top: 5px;
	flex-direction: column;
}

#loadingDiv {
	display: none;
}

#profileInfo{
	display: none;
	font-size: 14px;
	margin-left: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 500px;
}

.profile-body{
	width: 100%;
	/*height: 500px;*/
	display: flex;
	flex-direction: row;
}

.profile-menu{
	width: 20%;
	display: flex;
	flex-direction: column;
	border-right: 1px solid rgb(178,34,34);
}

.profile-nav{
	margin-right: 5px;
	font-size: 16px;
    height: 50px !important;
    width: 100%;
    display: block;
    color: rgb(178,34,34);
	background-color: white;
	border: white;
}

.profile-nav:hover{
    color: white;
	background-color: rgb(178,34,34);
}

/*Place holder for real styling*/
#profileInfo{
	display: flex;
	flex-direction: column;
	height: 100%;
}

.profile-post{
	border: solid 1px red;
	display: flex;
	flex-direction: row;
	width: 50vw;
	margin-top: 5px;
	justify-content: flex-start;
}

.image-container{
	margin: 10px 10px;
	max-height: 200px;
	max-width: 30%;
}

/*
.profile-post img{
	background-color: yellow;
	height: 240px;
	width: 30%;
}
*/

.profileMore{
	/*margin-left: 60%;*/
	color: red;
	align-self: flex-end;
	justify-self: flex-end;
}

@media only screen and (max-width: 560px){
	.profile-menu{
		width: 25%;
		display: flex;
		flex-direction: column;
		border-right: 1px solid rgb(178,34,34);
	}
}