#searchResult{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.result-box{
	border: rgb(178,34,34);
	border-style: solid;
	border-width: 1px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	width: 50%;
	margin-left: 25%;
}

.result-thumb{
	max-width: 180px;
	max-height: 200px;
	margin: 5px;
}

.pagespp{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 20px;
}

.pagespp a{
	color: rgb(178,34,34);
}

.pagespp a:hover { 
	opacity: 0.6;
	transition: 0.7s;
}


.cont{
	font-size: 12px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	/*margin-top: 35px;*/
	margin-left: 5px;
}

#searchForm{
	font-size: 12px;
	margin-left: 32%;
	margin-bottom: 20px;
}

#result-title{
	color: rgb(178,34,34);
	text-align: center;
	margin-top: 50px;
}

.search{
	display: flex;
	flex-direction: row;
}

.search-bar{
	margin-top: 40px;
	margin-right: 20px;
}

#sort{
	margin-right: 20px;
}

#order{
	margin-right: 20px;
}

#order input{
	color: rgb(178,34,34);
}

#submit{
	margin-top: 35px;
}

#submit:hover{
	opacity: 0.6;
	transition: 0.7s;
}

#submit input{
    font-size: 12px;
    height: 27px !important;
    width: 70px;
    display: block;
    color: white;
    background-color: rgb(178,34,34);
    border-radius: 25px;
}

.search-info{
	margin-top: 60px;
	margin-left: 40px;
}

.search-info ul{
	font-size: 13px;
}

.search-info h5{
	margin-bottom: 5px;
}

.search-mobile{
	display: none;
}

@media only screen and (max-width: 560px){
	#searchForm{
		font-size: 12px;
		margin-left: 25%;
		margin-bottom: 20px;
	}

	.search-bar{
		margin-bottom: 20px;
	}

	.search{
		display: none;
	}

	.search-mobile{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	#sortorder{
		display: flex;
		flex-direction: row;
	}

	#submit input{
		font-size: 12px;
		height: 27px !important;
		width: 70px;
		display: block;
		margin-left: 20%;
		color: white;
		background-color: rgb(178,34,34);
		border-radius: 25px;
	}

	#searchResult{
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 80%;
	}

	.result-box{
		border: rgb(178,34,34);
		border-style: solid;
		border-width: 1px;
		margin-bottom: 10px;
		display: flex;
		flex-direction: row;
		width: 115%;
		height: 150px;
		margin-left: 5%;
	}

	.cont{
		font-size: 12px;
		display: flex;
		flex-direction: column;
		margin-top: 5px;
		margin-left: 5px;
		width: 60%;
	}

	.result-thumb{
		max-width: 120px;
		max-height: 200px;
		margin: 5px;
	}

	#brk{
		display: none;
	}

	.more{
		margin-bottom: 5px;
	}

	.controls a{
		margin: 10px;
		margin-bottom: 30px;
	}
}


@media only screen and (min-width: 768px) and (max-width : 1024px){
	#brk{
		display: none;
	}
}
