html{
	font-family: 'Montserrat', sans-serif;
}

body{
	margin: 0;
}

.scav-title{
	text-align: left;
	/*padding-left: 20px; Disabled till can be fixed. Icon sizing.*/
	color: white;
	margin-left: 7px;
	font-size: 3.5vh;
}

.container.body-content{
	/*margin-top: 35px;*/
	/*min-height: calc(100vh - 50px);*/
}

/*Outline is temp. Can't see links elsewise.*/
a{
	text-decoration: none;
	color: white;
	/*
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
		*/
}

footer{
	height: 12vh;
	background-color: rgb(178,34,34);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.ftr{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#all-cont{
	/*padding-top: 8vh;*/
	min-height: 100vh;
	min-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#infoa{
	font-size: 15px;
	margin: 0px 10px;
}

#infoa:hover{
	opacity: 0.6;
	transition: 0.7s;
}

footer p{
	color:white;
	font-size: 15px;
}

.page-title{
	margin: 0;
}

.header-bar{
	background-color: rgb(178,34,34);;
	color: black;
	height: 8vh;
	width: 100%;
	position: fixed;
	z-index: 100;
	display :flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-between;
}

i{
	color:white;
	padding-left: 20px;
}

i:hover { 
	opacity: 0.6;
	transition: 0.7s;
}

#btnsignin{
	font-size: 3vh;
	margin-left: 60%;
}

#btnsignin:hover { 
	/*font-size: 14px;*/
	font-size: 2.9vh;
}

/*Das mess*/
#signedinusername{
	flex-grow: 1;
	text-align: right;
	flex-basis: auto;
	margin-right: 15px;
	font-size: 3vh;
}

.home-icon{
	width: 33px;
	height: 33px;
	vertical-align: middle;
	/*margin-left: 7px;*/
}

#popup{
	background-color: rgb(178,34,34);
	width: 150px;
}

.more{
	align-content: right;
	opacity: 0.6;
	width: 20%;
	padding: 5px 0;
	margin-top: 20px;
}

.more a{
	color: rgb(178,34,34);
	font-size: 12px;
}

.navbutton{
	margin-left: 20px;
	margin-bottom: 40px;
	margin-top: 10px;
	height: 30px;
	width: 100px;
	background-color: rgb(178,34,34);
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	font-size: 14px;
	text-align: center;
	border-radius: 25px;
}

.navbutton:hover { 
	opacity: 0.6;
	transition: 0.7s;
}

.controls{
	display:flex;
	justify-content: center;
	flex-direction: row;
}

.pagespp{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 20px;
}

.pagespp a{
	color: rgb(178,34,34);
}

.pagespp a:hover { 
	opacity: 0.6;
	transition: 0.7s;
}

@media only screen and (max-width: 560px){
	.header-bar{
		background-color: rgb(178,34,34);
		color: black;
		height: 50px;
		width: 100%;
		position: fixed;
		z-index: 100;
		display :flex;
		flex-direction: row;
	}

	#btnsignin{
		margin-left: 17%;
	}

	.scav-title a{
		display: flex;
		flex-direction: row;
		align-content: center;
		justify-content: center;
		align-items: center;
	}

	#loggedin{
		display:none;
	}

}

@media only screen and (min-width: 768px) and (max-width : 1024px)  {
	.header-bar{
		background-color: rgb(178,34,34);;
		color: black;
		height: 70px;
		width: 100%;
		position: fixed;
		z-index: 100;
		display :flex;
		flex-direction: row;
	}

	#btnsignin{
		margin-left: 17%;
	}

	.scav-title a{
		display: flex;
		flex-direction: row;
		align-content: center;
		justify-content: center;
		align-items: center;
	}

	#loggedin{
		display:none;
	}

}

/* ===================================================================== */
/*								Main Page				         	     */
/* ===================================================================== */

/*
.options{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.btnmain{
	border: 1px;
	border-radius: 25px;
	margin: 20px;
	padding: 15px 45px;
	background-color: rgb(178,34,34);
}

.btnmain:hover { 
	opacity: 0.6;
	transition: 0.7s;
}

.banner{
	text-align: center;
	color:rgb(178,34,34);
}

.home-graphic{
	max-width: 50vmin;
}

/* ===================================================================== */
/*								Browse Page				         	     */
/* ===================================================================== */

/*
#browsecontent{
	width: 100%;
	padding-top: 3%;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
} 

.postlist{
	width: 50%;
}

.posts{
	margin-left: 10%;
}

.posts p{
	font-size: 12px;
}

.text{
	padding: 10px;
	width: 60%;
}

#more {
	text-align: right;
	display: inline;
	font-size: 12px;
	color: rgb(178,34,34);
	text-align: center;
	opacity: 0.6;
	width: 20%;
	margin-left: 65%;
}

#more:hover {
	opacity: 1;
	transition: 0.7s;
}

.image{
	background-color: grey;
	margin: 10px 10px;
	max-height: 150px;
	max-width: 35%;
}

.controls{
	display:flex;
	justify-content: center;
	flex-direction: row;
}

.navbutton{
	margin-left: 20px;
	margin-bottom: 40px;
	margin-top: 10px;
	height: 30px;
	width: 100px;
	background-color: rgb(178,34,34);
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	font-size: 14px;
	text-align: center;
	border-radius: 25px;
}

.navbutton:hover { 
	opacity: 0.6;
	transition: 0.7s;
}

.mapspace{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: pink;
	height: 400px;
	width: 400px;
	margin-top: 65px;
	margin-left: 130px;
}

.post{
	border: rgb(178,34,34);
	border-style: solid;
	border-width: 1px;
	display: flex;
	flex-direction: row;
	margin-bottom: 15px;
	height: 100%;
}
.moved-sign{
	color: white;
	font-size: 12px;
	padding: 5px;
	background-color: rgb(178,34,34);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#browsecontent-mobile{
	display: none;
}

/*
@media only screen and (max-width: 560px){
	#browsecontent{
		display:none;
	}
	
	#browsecontent-mobile{
		display: flex;
		flex-direction: column;
	} 

	.mapspace{
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: pink;
		height: 300px;
		width: 310px;
		margin: 25px;
	}

	.postlist{
		width: 90%;
	}

	.post{
		border: rgb(178,34,34);
		border-style: solid;
		border-width: 1px;
		display: flex;
		flex-direction: row;
		margin-bottom: 15px;
		height: 130px;
	}

	.posts p{
		font-size: 10px;
	}

	.text{
		padding: 5px;
		width: 60%;
	}
	
	#more {
		text-align: right;
		display: inline;
		font-size: 12px;
		color: rgb(178,34,34);
		text-align: center;
		opacity: 0.6;
		width: 20%;
		margin-left: 65%;
	}

	.moved-sign{
		color: white;
		font-size: 8px;
		padding: 2px;
		background-color: rgb(178,34,34);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#browseMap{
		margin-left: 8%;
	}
}
*/

/*
@media only screen and (max-width: 560px){
	#browsecontent{
		display: flex;
		flex-direction: column;
	}
	
	.mapspace{
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: pink;
		height: 300px;
		width: 310px;
		margin: 25px;
	}

	.postlist{
		width: 90%;
	}

	.post{
		border: rgb(178,34,34);
		border-style: solid;
		border-width: 1px;
		display: flex;
		flex-direction: row;
		margin-bottom: 15px;
		height: 150px;
	}

	.posts p{
		font-size: 10px;
	}

	.text{
		padding: 5px;
		width: 60%;
	}
	
	#more {
		text-align: right;
		display: inline;
		font-size: 12px;
		color: rgb(178,34,34);
		text-align: center;
		opacity: 0.6;
		width: 20%;
		margin-left: 65%;
	}

	.moved-sign{
		color: white;
		font-size: 8px;
		padding: 2px;
		background-color: rgb(178,34,34);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#browseMap{
		margin-left: 8%;
	}
}

@media only screen and (min-width: 768px) and (max-width : 1024px){
	.mapspace{
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: pink;
		height: 400px;
		width: 400px;
		margin-top: 2%;
		margin-right: 22%;
		margin-bottom: 2%;
	}
	.postlist{
		margin-right: 25%;
	}
}
*/


/* ===================================================================== */
/*								Upload Page				         	     */
/* ===================================================================== */

/*Moved to upload.css*/

/* ===================================================================== */
/*								Search Page				         	     */
/* ===================================================================== */

/*

#searchResult{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.result-box{
	border: rgb(178,34,34);
	border-style: solid;
	border-width: 1px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	width: 50%;
	height: 150px;
	margin-left: 25%;
}

.result-thumb{
	width: 130px;
	max-height: 150px;
	height: 140px;
	margin: 5px;
}

.pagespp{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 20px;
}

.pagespp a{
	color: rgb(178,34,34);
}

.pagespp a:hover { 
	opacity: 0.6;
	transition: 0.7s;
}


#cont{
	font-size: 12px;
	display: flex;
	flex-direction: column;
	margin-top: 35px;
	margin-left: 5px;
}

#searchForm{
	font-size: 12px;
	margin-left: 32%;
	margin-bottom: 20px;
}

#result-title{
	color: rgb(178,34,34);
	text-align: center;
	margin-top: 50px;
}

.search{
	display: flex;
	flex-direction: row;
}

.search-bar{
	margin-top: 40px;
	margin-right: 20px;
}

#sort{
	margin-right: 20px;
}

#order{
	margin-right: 20px;
}

#order input{
	color: rgb(178,34,34);
}

#submit{
	margin-top: 35px;
}

#submit:hover{
	opacity: 0.6;
	transition: 0.7s;
}

#submit input{
    font-size: 12px;
    height: 27px !important;
    width: 70px;
    display: block;
    color: white;
    background-color: rgb(178,34,34);
    border-radius: 25px;
}

.search-info{
	margin-top: 60px;
	margin-left: 40px;
}

.search-info ul{
	font-size: 13px;
}

.search-info h5{
	margin-bottom: 5px;
}

.search-mobile{
	display: none;
}

@media only screen and (max-width: 560px){
	#searchForm{
		font-size: 12px;
		margin-left: 25%;
		margin-bottom: 20px;
	}

	.search-bar{
		margin-bottom: 20px;
	}

	.search{
		display: none;
	}

	.search-mobile{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	#sortorder{
		display: flex;
		flex-direction: row;
	}

	#submit input{
		font-size: 12px;
		height: 27px !important;
		width: 70px;
		display: block;
		margin-left: 20%;
		color: white;
		background-color: rgb(178,34,34);
		border-radius: 25px;
	}

	#searchResult{
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 80%;
	}

	.result-box{
		border: rgb(178,34,34);
		border-style: solid;
		border-width: 1px;
		margin-bottom: 10px;
		display: flex;
		flex-direction: row;
		width: 115%;
		height: 150px;
		margin-left: 5%;
	}

	#cont{
		font-size: 12px;
		display: flex;
		flex-direction: column;
		margin-top: 5px;
		margin-left: 5px;
		width: 60%;
	}

	.result-thumb{
		width: 130px;
		max-height: 150px;
		height: 140px;
		margin: 5px;
	}

	.more{
		margin-bottom: 5px;
	}

	.controls a{
		margin: 10px;
		margin-bottom: 30px;
	}
}

/* ===================================================================== */
/*								Profile Page			         	     */
/* ===================================================================== */

/*

#emailChange {
	display: none;
	font-size: 14px;
	margin-left: 15px;
	margin-top: 15px;
}

#currentEmail {
	margin-left: 30px;
}

#newEmail {
	margin-left: 52px;
}

#butsave {
	font-size: 12px;
    height: 27px !important;
    width: 70px;
    display: block;
    color: white;
    background-color: rgb(178,34,34);
	border-radius: 25px;
	margin-top: 10px;
	margin-left: 120px;
}

#saveEmail:hover{
	opacity: 0.6;
	transition: 0.7s;
}

#passwdChange {
	display: none;
	font-size: 14px;
	margin-left: 15px;
	margin-top: 15px;
}

#psEmail{
	margin-left: 30px;
}

#currPass{

}

#newPass{
	margin-left: 24px;
}

#verPasswd{
	margin-left: 16px;
}

#delAccnt {
	display: none;
	font-size: 14px;
	margin-left: 15px;
	margin-top: 5px;
	flex-direction: column;
}

#loadingDiv {
	display: none;
}

#profileInfo{
	display: none;
	font-size: 14px;
	margin-left: 15px;
	margin-top: 15px;
	width: 500px;
}

.profile-body{
	width: 100%;

	display: flex;
	flex-direction: row;
}

.profile-menu{
	width: 20%;
	display: flex;
	flex-direction: column;
	border-right: 1px solid rgb(178,34,34);
}

.profile-nav{
	margin-right: 5px;
	font-size: 16px;
    height: 50px !important;
    width: 100%;
    display: block;
    color: rgb(178,34,34);
	background-color: white;
	border: white;
}

.profile-nav:hover{
    color: white;
	background-color: rgb(178,34,34);
}

#profileInfo{
	display: flex;
	flex-direction: column;
	height: 100%;
}

.profile-post{
	border: solid 1px red;
	display: flex;
	flex-direction: row;
	width: 300px;
}

.profile-post img{
	background-color: yellow;
	height: 240px;
	width: 30%;
}

#profileMore{
	margin-left: 60%;
}

@media only screen and (max-width: 560px){
	.profile-menu{
		width: 25%;
		display: flex;
		flex-direction: column;
		border-right: 1px solid rgb(178,34,34);
	}
}



/* ===================================================================== */
/*								Post Page		     	         	     */
/* ===================================================================== */

/*

.post-body{
	width: 100%;
}

.imgmap{
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-top: 50px;
}

#postMap{
	background-color: blue;
}

.details-map{
	margin-left: 10%;
	width: 240px;
	height: 240px;
}

#postImageHere{
	height: 240px;
	width: 240px;
	background-color: blue;
	margin-left: 30%;
}

.tag-strip{
	background-color: rgb(206, 66, 66);
	width: 44%;
	margin-top: 10px;
	height: 5%;
	display: flex;
	flex-direction: row;
	float: left;
	margin-left: 5%;
	border-radius: 25px;
}

.tag-strip:after{
	content: "";
    display: table;
    clear: both;
}

#tag-list{
	margin: 0px 2.5%;
	text-align: center;
	height: 80%;
	margin-top: 1px;
	opacity: 0.5;
	color: white;
}

#tag-list:hover{
	opacity: 1.0;
	transition: 0.7s;
}

.post-info{
	display: flex;
	flex-direction: column;
}

#postDetails{
	margin-left: 5%;
	margin-top: 10px;
}

.postcontrols{
	margin-left: 5%;
	display: flex;
	flex-direction: row;
	width: 42%;
	margin-top: 20px;
	justify-content: space-between;
}

#btnFlagRemoved{
	font-size: 12px;
	height: 40px;
    width: 120px;
	display: block;
	color: white;
    background-color: rgb(178,34,34);
	border-radius: 25px;
}

#btnFlagRemoved:hover{
	opacity: 0.6;
	transition: 0.7s;
}

#btnFlagRemoved:disabled, button[disabled]{
	background-color: gray;
}

.btnVote{
	font-size: 12px;
	display: flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;
	height: 40px;
    width: 120px;
	color: white;
    background-color: rgb(178,34,34);
	border-radius: 25px;
}

.edit-opts{
	display: flex;
	flex-direction: row;
	margin-left: 5%;
	width: 42%;
	justify-content: space-between;
	margin-top: 25px;
}

#delPost, #confMoved, #confInap{
	display: flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;
	height: 40px;
    width: 120px;
	color: white;
    background-color: rgb(178,34,34);
	border-radius: 25px;
	margin-bottom: 25px;
}

#delPost:hover, #confMoved:hover, #confInap:hover{
opacity: 0.6;
transition: 0.7s;
}

@media only screen and (max-width: 560px){
	#postImageHere{
		height: 240px;
		width: 240px;
		background-color: blue;
		margin-left: 0;
	}

	.imgmap{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-top: 50px;
	}

	.post-body{
		width: 100%;
		height: 100%;
	}

	.details-map{
		margin-left: 0;
		margin-top: 2%;
		width: 240px;
		height: 240px;
	}

	.post-info{
		display: flex;
		flex-direction: column;
		margin-left: 15%;
	}

	#postTags{
		width: 75%;
	}

	.postcontrols{
		margin-left: 6%;
		margin-bottom: 20px;
		display: flex;
		flex-direction: row;
		width: 77%;
		margin-top: 20px;
		justify-content: space-between;
	}

	#btnFlagRemoved{
		width: 70px;
	}

	.btnVote{
		width: 90px;
	}

	.edit-opts{
		display: flex;
		flex-direction: row;
		width: 77%;
		justify-content: space-between;
		margin-top: 25px;
	}
	
	#delPost, #confMoved, #confInap{
		display: flex;
		flex-direction:row;
		justify-content: center;
		align-items: center;
		height: 40px;
		width: 120px;
		color: white;
		background-color: rgb(178,34,34);
		border-radius: 25px;
		margin-bottom: 25px;
	}
}

@media only screen and (min-width: 768px) and (max-width : 1024px){
	#postImageHere{
		margin-left: 17%;
	}

	.tag-strip{
		width: 67%;
	}
}


/* ===================================================================== */
/*								Login Page		     	         	     */
/* ===================================================================== */

/*

#login, #signup{
	margin-top: 140px;
	margin-bottom: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#login h3{
	color: rgb(178,34,34);
	font-weight: bold;
}

#formLI{
	border: solid 1px red;
	margin: 2% 40%;
	padding: 40px 20px;
	color: white;
	background-color: rgb(178,34,34);	
}

.login-details{
	width: 70%;
	border-radius: 25px;
	height: 20px;
	padding-left: 5px;
}

.login-submit{
	width: 75%;
	border-radius: 25px;
	height: 25px;
	font-family: 'Montserrat', sans-serif;
	background-color: white;
	color: rgb(178,34,34);
	font-size: 14px;
}

.login-submit:hover{
	background-color: rgba(178, 34, 34, 0.651);
	color:white;
	transition: 0.5s;
}

#switchForm, #switchFormBack{
	font-size: 12px;
	height: 25px;
    width: 5%;
	color: white;
    background-color: rgb(178,34,34);
	border-radius: 25px;
}

#switchForm:hover, #switchFormBack:hover{
	opacity: 0.6;
	transition: 0.5s;
}

#signup h3{
	color: rgb(178,34,34);
	font-weight: bold;
}

#formSU{
	border: solid 1px red;
	margin: 1% 80%;
	width: 20%;
	padding: 40px 20px;
	color: white;
	background-color: rgb(178,34,34);
}

#errorText{
	color: white;
	margin-top: 20px;
}

@media only screen and (max-width: 560px){
	#formLI{
		border: solid 1px red;
		margin: 0;
		margin-bottom: 1%;
		width: 100%;
		padding: 40px 20px;
		color: white;
		background-color: rgb(178,34,34);	
	}

	#switchForm{
		width: 60px;
	}

	#formSU{
		border: solid 1px red;
		margin: 2%;
		width: 100%;
		padding: 40px 20px;
		color: white;
		background-color: rgb(178,34,34);
	}

	#formLI .login-details, #formLI .login-submit{
		margin-right: 40px;
	}
	
	.login-submit{
		width: 73%;
	}
}

@media only screen and (min-width: 768px) and (max-width : 1024px){
	#formLI{
		border: solid 1px red;
		margin: 0;
		margin-bottom: 1%;
		width: 40%;
		margin-left: 28%;
		padding: 40px 20px;
		color: white;
		background-color: rgb(178,34,34);	
	}

	#switchForm{
		width: 60px;
	}

	#formSU{
		border: solid 1px red;
		margin: 2%;
		width: 40%;
		padding: 40px 20px;
		color: white;
		background-color: rgb(178,34,34);
	}

	#formLI .login-details, #formLI .login-submit{
		margin-right: 40px;
	}
	
	.login-submit{
		width: 73%;
	}
}

/* ===================================================================== */
/*								Contact/About	    	         	     */
/* ===================================================================== */

/* mo