.uploadcontent{
	/*margin-top: 5%;*/
	display: flex;
	flex-direction: row;
	justify-content:space-evenly;
	/*height: 650px;*/
	/*height: 100vh;*/
	height: 92vh;
}

.upload-data{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

#postMap{
	flex-grow: 2;
	margin: 1vmax;
	align-self: stretch;
	max-width: 50%;
}

.pass{
	margin-left: 2px;
}

.map-img{
	display: flex;
	flex-direction: row;
	height: 300px;
}

#uploadForm{
	/*
	margin-top: 30px;
	padding-right: 20px;
	margin-left: 10%;*/
	margin: 1vmax;
	align-self: stretch;
}

.form-button{
	font-size: 15px;
	height: 40px !important;
	width: 150px;
	display: inline-block;
	color: white;
	background-color: rgb(178,34,34);	
	border-radius: 25px;
	margin-top: 15px;
	margin-bottom: 5px;
	margin-left: 50px;
}

#upl-login{
	font-size: 15px;
	height: 40px !important;
	width: 150px;
	color: white;
	text-align: center;
	background-color: rgb(178,34,34);
	border-radius: 25px;
	padding: 10px;
}

#logState{
	text-align: center;
	margin-left: 5%;
	margin-top: 40px;
	margin-bottom: 40px;
}

.lbl{
	display: inline;
}

#txb1{
	margin-left: 61px;
}

#txb2{
	margin-left: 2px;
}

#txb3{
	margin-left: 58px;
}

#lng{
	margin-left: 30px;
}

.entry{
	margin-bottom: 10px;
}

#thumbnailHolder{
	border-width: 1px;
	border-color: rgb(178,34,34);
	border-style: inset;
	align-self: center;
}

.map-marker{
	width: 20px;
	height: 20px;
	border: 1px solid #088;
	border-radius: 10px;
	background-color: #0FF;
	opacity: 0.5;
}

.main-detail{
	margin-left: 160px;
    padding: 0px 10px;
}

.error-img{
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 20%;
}

#des{
	display: flex;
	margin-right: 5px;
	flex-direction: column;
}

.entry2{
	margin-bottom: 10px;
	display: flex;
}

textarea{
	border: rgb(190, 187, 187) 1px solid;
	width: 260px;
}

@media only screen and (max-width: 560px){
	.uploadcontent{
		flex-wrap: wrap;
	}

	#postMap{
		flex-grow: 2;
		align-self: stretch;
		width: 100vw;
	}

	.form-button{
		margin-left: 120px;
	}
}

@media only screen and (min-width: 768px) and (max-width : 1024px){
	#postMap{
		height: 400px;
	}
}
