@using scavengr.DataObjects;
@{
	ViewData["Title"]="Browse";
	ViewData["cssPath"]="browse";
}

<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="~/js/v5.2.0-dist/ol.js"></script>
<link rel="stylesheet" href="~/js/v5.2.0-dist/ol.css" type="text/css">
<!--<link rel="stylesheet" href="./browse.css" type="text/css"/>-->
<link rel="stylesheet" href="~/css/mapPopup.css" type="text/css">

<div id="browsecontent">
	<div id="browseMap" class="map mapspace"></div>
	<div class="postlist">
		<div class="posts">
			@if(ViewBag.Posts != null){
				foreach(Post pt in ViewBag.Posts){
					<div id="post@(pt.PID)" class="post">
						@if((pt.PostFlags & (int)ViewData["MOVED"]) > 0){
							<div class="moved-sign">Moved</div>
						}

						<div class="image-container">
							<img style="display:block;max-width:100%;max-height:100%;" src="@ViewData["ImgURL"]@pt.ImagePath">
						</div>
						<div class="text">
							<p>@pt.Title</p>
							<p>Location: @pt.MarkerCoord.Item1 @pt.MarkerCoord.Item2</p>
							<p>Date Posted: @pt.Date</p>
							<p>Author: @pt.Username</p>
							<p>Status: @pt.Status </p>
							<br id="brake">
							<p><a id="more" href="@ViewData["URL"]/PostDetail/@pt.PID">More</a></p>
						</div>
					</div>
				}
			}
			else{
				<p>No posts...</p>
			}

			<div class="pagespp">
				Posts per page:
				<a onclick="perpage5()" class="perpage-setting" href="?perpage=5">5</a>
				<a onclick="perpage10()" class="perpage-setting" href="?perpage=10">10</a>
				<a onclick="perpage20()" class="perpage-setting" href="?perpage=20">20</a>
			</div>

			<div class="controls">
				<a class="navbutton" href="?page=0"><p>First</p></a>
				<a class="navbutton" href="?page=@ViewData["PrevPage"]"><p>Previous</p></a>
				<a class="navbutton" href="?page=@ViewData["NextPage"]"><p>Next</p></a>
				<a class="navbutton" href="?page=@ViewData["PageCount"]"><p>Last</p></a>				
			</div>
		</div>
	</div>

	
</div>

<div id="browsecontent-mobile">
	<!--<div id="browseMap" class="map mapspace"></div>-->

	<div class="postlist">
		<div class="posts">
			@if(ViewBag.Posts != null){
				foreach(Post pt in ViewBag.Posts){
					<div id="post@(pt.PID)" class="post">
						@if((pt.PostFlags & (int)ViewData["MOVED"]) > 0){
							<div class="moved-sign">Moved</div>
						}
						<img class="image" src="@ViewData["ImgURL"]@pt.ImagePath">
						<div class="text">
							<p>@pt.Title</p>
							<p>Location: @pt.MarkerCoord.Item1 @pt.MarkerCoord.Item2</p>
							<p>Date Posted: @pt.Date</p>
							<p>Status: @pt.Status</p> 
							<p><a id="more" href="@ViewData["URL"]/PostDetail/@pt.PID">More</a></p>
						</div>
					</div>
				}
			}
			else{
				<p>No posts...</p>
			}

			<div class="pagespp">
				Posts per page:
				<a onclick="perpage5()" class="perpage-setting" href="?perpage=5">5</a>
				<a onclick="perpage10()" class="perpage-setting" href="?perpage=10">10</a>
				<a onclick="perpage20()" class="perpage-setting" href="?perpage=20">20</a>
			</div>

			<div class="controls">
				<a class="navbutton" href="?page=0"><p>First</p></a>
				<a class="navbutton" href="?page=@ViewData["PrevPage"]"><p>Previous</p></a>
				<a class="navbutton" href="?page=@ViewData["NextPage"]"><p>Next</p></a>
				<a class="navbutton" href="?page=@ViewData["PageCount"]"><p>Last</p></a>				
			</div>
		</div>
	</div>
</div>

<div id="popup" class="ol-popup">
	<a href="#" id="popup-closer" class="ol-popup-closer">x</a>
	<div id="popupContent" id="popup-content">
		Position is here
	</div>
</div>

<script>
//Map stuff
var coordPrecision=4;

var targPos=ol.proj.fromLonLat([174,-36]);

var popContainer=document.getElementById("popup");
var popContent=document.getElementById("popupContent");
var closer=document.getElementById("popup-closer");

var popOverlay=new ol.Overlay({
	element: popContainer,
	autoPan: true
});

closer.onclick=function(){
	console.log("Close pop");
	popOverlay.setPosition(undefined);
	return false;
};

var tLayer=new ol.layer.Tile({
	source: new ol.source.OSM()
});

var mapOpts={
	target: "browseMap",
	view: new ol.View({
		center: targPos,
		zoom:4,
		minZoom: 2
	}),
	overlays: [
		popOverlay
	]
};

var map=new ol.Map(mapOpts);

//Marker/feature handling
var mkrStyle=new ol.style.Style({
	image: new ol.style.Circle({
		fill: new ol.style.Fill({
			color: 'red'
		}),
		stroke: new ol.style.Stroke({
			color: 'black',
			width: 1
		}),
		radius: 7
	}),
	text: new ol.style.Text({
		text: ""
	})
});

var markers=[];

//Maybe make this ajax get
var mkrData=@Html.Raw(ViewData["mkrJson"]);

var mkrIndex=0;

//Generate markers
//for(var i = 0; i<mkrData.length; i++){
for(var i = 0; i<mkrData.length; i++){
	var obj=mkrData[i];

	//console.log("F: "+i+" t: "+obj.title+" lng: "+obj.lng+" lat:"+obj.lat);

	var mkr=new ol.Feature({
		geometry: new ol.geom.Point(
			ol.proj.fromLonLat([obj.lng,obj.lat])
		),
		pid: obj.PID,
		name: mkrIndex.toString(),
		title: obj.title
	});

	//mkr.setStyle(mkrStyle.clone());
	mkr.setStyle(mkrStyle);
	//mkr.getStyle().getText().setText(mkr.get("name"));

	markers.push(mkr);

	mkrIndex++;
}

var vect=new ol.source.Vector({
	features: markers
});

var vLayer=new ol.layer.Vector({
	source: vect
});

map.addLayer(tLayer);
map.addLayer(vLayer);

var select=new ol.interaction.Select({
	multi: false
});

select.on('select', function(e){

	if(e.selected.length > 0){
		console.log("Select: "+e.selected[0].get("name"));
		var pid=e.selected[0].get("pid");
		var title=e.selected[0].get("title");
		popOverlay.setPosition(e.selected[0].getGeometry().getCoordinates());
		popContent.innerHTML="<a href=\"/PostDetail/"+pid+"\">"+title+"</a>";
	}

	//Should probably just highlight post in list or something.
	//window.open("/PostDetail/"+e.selected[0].get("pid"), "_self");
});

map.addInteraction(select);

</script>

<!--
<script>
//changes body height when changing number of posts per pages 
	var d = document.getElementById("browsecontent");

	function perpage5(index){
		d.style.height = "500px";
	}

	function perpage10(){
		var d = document.getElementById("browsecontent");
		d.style.height = "1500px";
	}

		function perpage20(){
		var d = document.getElementById("browsecontent");
		d.style.height = "2000px";
	}
</script>
--> 